extends common/layout

block content
header.header
  .header-top
    p.header-name DREAMSHARE
    .header-menu
      span
        a.header-top-link(href='#') Log in
      span
        a.header-top-link-2(href='#') Sign up
  p.header-title
    | SHARE YOUR 
    br
    |             HOLIDAY DREAM
  p.header-subtitle And find the perfect partner to fullfill it
  .header-link
    a.header-link-text(href='#')  Find your holiday partner
main.container
  section.section-1
    h2.section-1-heading How Dreamshare works?
    .section-1-images
      .section-1-block-1
        p.section-1-button STEP 1
        p.section-1-block-heading Sed leo enim, condimentum
        p.section-1-block-text
          | Quisque libero libero, dictum non turpis in, luctus semper lorem.
          | Donec rhoncus a leo sit amet facilisis.
      .section-1-block-2
        p.section-1-button STEP 2
        p.section-1-block-heading Morbi velit risus
        p.section-1-block-text
          | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit
          | amet porttitor est.
      .section-1-block-3
        p.section-1-button STEP 3
        p.section-1-block-heading Sed leo enim, condimentum
        p.section-1-block-text
          | Quisque libero libero, dictum non turpis in, luctus semper lorem.
          | Donec rhoncus a leo sit amet facilisis.
  section.section-2
    h2.section-2-heading Meet a partner for your best holiday
    .section-2-images
      .section-2-block-1
        .section-2-block-1-image
          img(src='images/Photo1.png' alt='')
        h3.section-2-block-1-heading Bradley Hunter
        p.section-2-block-1-text Based in Chicago. I love playing tennis and loud music.
      .section-2-block-2
        .section-2-block-2-image
          img(src='images/photo2.1.png' alt='')
        h3.section-2-block-1-heading Marie Bennett
        p.section-2-block-1-text
          | Currently living in Colorado. Lover of art, languages and
          | travelling.
      .section-2-block-3
        .section-2-block-3-image
          img(src='images/Photo3.1.png' alt='')
        h3.section-2-block-1-heading Diana Wells
        p.section-2-block-1-text
          | Living in Athens, Greece. I love black and white classics,
          | chillout music and green tea.
      .section-2-block-4
        .section-2-block-4-image
          img(src='images/Photo4.1.png' alt='')
        h3.section-2-block-1-heading Christopher Pierce
        p.section-2-block-1-text
          | Star Wars fanatic. I have a persistent enthusiasm to create new
          | things.
    .section-2-link
      a.section-2-link-text(href='#')  See other partners
  section.section-3
    h2.section-3-heading Discover holiday activity ideas
    .section-3-top-images
      .section-3-top-images-block-1.section-3-text Sports and Activis
      .section-3-top-images-block-2.section-3-text Wellness and Health
      .section-3-top-images-block-3.section-3-text
        | Extreme Sports
        | and Expeditions
    .section-3-medium-images
      .section-3-medium-images-block-1.section-3-text Games
      .section-3-medium-images-block-2.section-3-text Culture and Education
    .section-3-bottom-images
      .section-3-bottom-images-block-1.section-3-text Enjomet and Relaxation
      .section-3-bottom-images-block-2.section-3-text Trevelling
  section.section-4
    h2.section-4-heading Crate your holiday activity
    p.section-4-text Hi! What are your holiday interests?
    .section-4-form
      form(action='')
        input(type='text' placeholder='Enter your insterests')
      .section-4-button
        | Search partners
footer.footer
  .footer-information
    .footer-information-part-1
      | DREAMSHARE
    .footer-information-part-2
      | Company
      ul.footer-list
        li
          a(href='#') About
        li
          a(href='#') Contact
        li
          a(href='#') Press
        li
          a(href='#') Blog
        li
          a(href='#') Terms and Privacy
        li
          a(href='#') Help
    .footer-information-part-3
      | Partners
    .footer-information-part-4
      p DESIGNED BY
      .footer-information-part-4-logo